Checks: >
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,

  bugprone-assignment-in-if-condition,
  bugprone-branch-clone,
  bugprone-suspicious-memset-usage,
  bugprone-easily-swappable-parameters,
  bugprone-macro-parentheses,
  bugprone-macro-repeated-side-effects,
  bugprone-not-null-terminated-result,
  bugprone-sizeof-expression,
  bugprone-suspicious-include,

  readability-inconsistent-declaration-parameter-name,
  readability-misleading-indentation,
  readability-redundant-control-flow,
  readability-redundant-declaration,
  readability-simplify-boolean-expr,

  misc-no-recursion,

  clang-analyzer-optin.portability.UnixAPI

WarningsAsErrors: ''

HeaderFilterRegex: '^(src|include)/'
SystemHeaders: false
FormatStyle: none

ExtraArgs: ['--std=c23', '-isysroot','/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk']

